Контент завод 26.11.25.json
{
  "name": "Контент завод",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        0
      ],
      "id": "a738a25f-debe-41eb-ac5c-b34c9a8899fc",
      "name": "Триггер (название новости)",
      "webhookId": "e060571e-31e6-4d3d-9960-e420162d6f19",
      "credentials": {
        "telegramApi": {
          "id": "nT99UXXRfRe9CE7I",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12eOKulhX7I4T3Q590RNkrLab7N47N8QX5TKsrHgmsmc",
          "mode": "list",
          "cachedResultName": "Контент-завод",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12eOKulhX7I4T3Q590RNkrLab7N47N8QX5TKsrHgmsmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12eOKulhX7I4T3Q590RNkrLab7N47N8QX5TKsrHgmsmc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Идея (кратко)": "={{ $json.message.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Идея (кратко)",
              "displayName": "Идея (кратко)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Идея (развернуто)",
              "displayName": "Идея (развернуто)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Текст новости",
              "displayName": "Текст новости",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "2e86f51c-a30f-4757-b956-ab75fbb621ee",
      "name": "Запись названия в таблицу",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5TxHz71nKFhFfvbl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=У меня есть короткая идея: {{ $json['Идея (кратко)'] }}. Пожалуйста, преврати эту фразу в 2 варианта связных абзацев из 2-3 предложений, подробно раскрывая смысл, предлагая контекст и добавляя интересные детали, чтобы идея выглядела более полной и выразительной "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "b1ea220e-9c96-4c46-9ea6-3a1aa26b8c12",
      "name": "Запрос к ИИ придумать 2 развернутых варианта",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "lxhYGow679513yNl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12eOKulhX7I4T3Q590RNkrLab7N47N8QX5TKsrHgmsmc",
          "mode": "list",
          "cachedResultName": "Контент-завод",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12eOKulhX7I4T3Q590RNkrLab7N47N8QX5TKsrHgmsmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12eOKulhX7I4T3Q590RNkrLab7N47N8QX5TKsrHgmsmc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Идея (кратко)": "={{ $('Запись названия в таблицу').item.json['Идея (кратко)'] }}",
            "Идея (развернуто)": "={{ $json.content.parts[0].text }}"
          },
          "matchingColumns": [
            "Идея (кратко)"
          ],
          "schema": [
            {
              "id": "Идея (кратко)",
              "displayName": "Идея (кратко)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Идея (развернуто)",
              "displayName": "Идея (развернуто)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Текст новости",
              "displayName": "Текст новости",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        0
      ],
      "id": "8c0d932d-3d66-424b-8dc0-ed8508666148",
      "name": "Запись развернутых вариантов в таблицу",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5TxHz71nKFhFfvbl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Триггер (название новости)').item.json.message.chat.id }}",
        "text": "={{ $json['Идея (развернуто)'] }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "1й вариант",
                    "additionalFields": {
                      "callback_data": "={{ $('Запись названия в таблицу').item.json['Идея (кратко)'] }}"
                    }
                  },
                  {
                    "text": "2й вариант",
                    "additionalFields": {
                      "callback_data": "={{ $('Запись названия в таблицу').item.json['Идея (кратко)'] }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        0
      ],
      "id": "7b0105f4-5c73-44b5-920c-38dfaca0310f",
      "name": "Предложение выбрать из 2х вариантов",
      "webhookId": "b30e2004-4530-4165-b108-5252efc7de65",
      "credentials": {
        "telegramApi": {
          "id": "nT99UXXRfRe9CE7I",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Возьми из описания:{{ $json.callback_query.message.text }} вариант: {{ $json.callback_query.message.reply_markup.inline_keyboard[0][1].text }} Пожалуйста, преврати этот абзац из 2-3 предложений в полноценный текст новости, подробно раскрывая смысл, предлагая контекст и добавляя интересные детали, чтобы идея выглядела более полной и выразительной "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "ce55376d-aeab-47d5-9c37-bbd1615a5fb3",
      "name": "Текст новости по выбранному варианту1",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "lxhYGow679513yNl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12eOKulhX7I4T3Q590RNkrLab7N47N8QX5TKsrHgmsmc",
          "mode": "list",
          "cachedResultName": "Контент-завод",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12eOKulhX7I4T3Q590RNkrLab7N47N8QX5TKsrHgmsmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12eOKulhX7I4T3Q590RNkrLab7N47N8QX5TKsrHgmsmc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Текст новости": "={{ $json.content.parts[0].text }}",
            "Идея (кратко)": "={{ $('Триггер (название новости)').item.json.callback_query.message.reply_markup.inline_keyboard[0][1].callback_data }}"
          },
          "matchingColumns": [
            "Идея (кратко)"
          ],
          "schema": [
            {
              "id": "Идея (кратко)",
              "displayName": "Идея (кратко)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Идея (развернуто)",
              "displayName": "Идея (развернуто)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Текст новости",
              "displayName": "Текст новости",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        192
      ],
      "id": "329bc8ce-434c-4f02-9ebd-891cc7fb26da",
      "name": "Запись текста новости1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5TxHz71nKFhFfvbl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "natalikarpova13@gmail.com",
        "subject": "=шаблон новости",
        "emailType": "text",
        "message": "={{ $json['Текст новости'] }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        704,
        192
      ],
      "id": "d15023f4-0279-4c42-90b0-8154bb91e254",
      "name": "Отправка письма1",
      "webhookId": "8a6ff701-6910-4e65-b0b3-48eb1c924fcb",
      "credentials": {
        "gmailOAuth2": {
          "id": "jqzX61IzkuinHmQy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70b9dfa2-ec1f-4688-a206-f9647dbcfa86",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        0
      ],
      "id": "7a8702b7-015c-4fec-b827-afdb17d8a2dd",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1LNUKlZlPHpyMlS-FCYwttbsxL_12Tbuk",
          "mode": "list",
          "cachedResultName": "Персонализированная медицина.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1LNUKlZlPHpyMlS-FCYwttbsxL_12Tbuk/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        192
      ],
      "id": "9fb2a3d4-eefb-4477-a550-8aa085e0f69b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7M8nii9h3oQ0KjaJ",
          "name": "Google Drive account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Триггер (название новости)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись названия в таблицу": {
      "main": [
        [
          {
            "node": "Запрос к ИИ придумать 2 развернутых варианта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос к ИИ придумать 2 развернутых варианта": {
      "main": [
        [
          {
            "node": "Запись развернутых вариантов в таблицу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись развернутых вариантов в таблицу": {
      "main": [
        [
          {
            "node": "Предложение выбрать из 2х вариантов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Предложение выбрать из 2х вариантов": {
      "main": [
        []
      ]
    },
    "Текст новости по выбранному варианту1": {
      "main": [
        [
          {
            "node": "Запись текста новости1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись текста новости1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Запись названия в таблицу",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Текст новости по выбранному варианту1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка письма1": {
      "main": [
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Отправка письма1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa3beb16-3c15-483b-89c6-162eddfa3191",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe8a66df2127553c0d9d56bc8a2c9dfab8bffd641859e0d3d7e67c408ebc1533"
  },
  "id": "5oOrIBJWa7OQ2aKS",
  "tags": []
}